<!-- Header Bar -->
<header>

    <!-- logo -->
    <div class="siteblock">
        <h1><a href="/">FileMeta</a></h1>
        <h2>File Identity and Metadata Project</h2>
        <h2>A Project by <a href="https://brandtredd.org" style="text-decoration: underline;">Brandt Redd</a></h2>
    </div>

    <!-- main navigation -->
    <div class="menu">
        <ul>
            <li><a href="/Manifesto.html">The FileMeta Manifesto</a></li>
            <li><a href="https://blog.filemeta.org">FileMeta Blog</a></li>
            <li><a href="/Metadata.html">Metadata Element Index</a></li>
            <li><a href="https://github.com/FileMeta">Source Code <img src="res/GitHub.png" alt="GitHub" style="height: 1em; width: auto;" /></a></li>
        </ul>
    </div>
</header>